html,
body {
  margin: 0%;
  padding: 0%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
	
}
/*css div d entete "oh my food" pour les 4 sous menu  */		
.child.menu1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579c87;
  width: 600px;
  height: 80px;
}
.entreprise-name 
{
  color: #ffcc00;
  font-size: 50px;
}
/*  */  /*  *//*  */ /*  */
/*css sous menu index-html1 */
.intitule-menu-premier
	 {
font-size: 20px;
font-family:"Segoe Print", sans-serif;
font-weight: bolder;
	}
.menu2 {
  width: 300px;
  height: 60px;
  background-color: white;
}
.titre-menu {
  text-align: center;
}
.child.part1{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  width: 460px;
  height: 600px;
  background-color: #ffe0e0;  
}

.entete.icones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* css menu note de musique  */ 
.icons-title2.title-m2{
 font-size: 22px;
 color:#C67412 
}   
.fa-music {
  color: orange;
  font-size: 30px;
}

.paragraphe.section
{
  display: flex;
  justify-content:space-around;
  flex-direction:row;
  flex-wrap:wrap; 
}
.descriptif-plat {
  font-family: 'Segoe Script';
  font-size: 9px;
}
.price{margin-left: 25px;}
.price1{margin-left: 65px;}
.price2{margin-left: 26px;}
.price3{margin-left: 16px;}
.price4{margin-left: 3px;}
.price5{margin-left: 100px;}
.price6{margin-left: 16px;}
.trait-gauche {
  width: 120px;
  height: 3px;		
  background-color: black;
 	margin-right: 60px;
}
.trait-droite {
  width: 120px;
  height: 3px;
  background-color: black;
 		 	margin-left: 60px;
}
	/* css menu1 */
.trait-centre.trait-centre-m1
	 {  
  font-size: 10px;
  font-family: 'Segoe Script';
  position: absolute;
  cursor: pointer;
		margin-top: -10px;
}
.trait-centre:after {
  margin-top: 18px;
  margin-left: -100%;
  position: absolute;
  content: '';
  height: 3px;
  width: 0px;
  background-color: black;
  transition: ease-in-out 0.4s;
}
.trait-centre:hover:after
 {
  width: 100%;
}
.menu4 {
  display: flex;
  justify-content:space-around;
		flex-direction: row;
		flex-wrap: wrap;
  background-color: #579c87;
  width: 600px;
  height: 60px;
  margin-top: 40px;
}
/* css pied de page menu5 */
.menu5
 {
 display: flex;
  justify-content: space-around;
		flex-direction: row;
		flex-wrap: nowrap;
  background-color: #579c87;
  width: 600px;
 
  height: 60px;
 
}

/* css animation pied de pages pour le menu principal + les 4 sous menus */
h2{
  text-decoration: none;
   color: #ffcc00;
}
  .info.contact1:hover {
    animation: identifier .2s ease-in-out infinite alternate;
  }
  .info.contact2:hover {
    animation: identifier .2s ease-in-out infinite alternate;
  }
  @keyframes identifier {
    from {
      transform: rotate(25deg);
      -webkit-transform: rotate(25deg);
    }
    to {
      -webkit-transform: rotate(-25deg);
      transform: rotate(-25deg);
      -webkit-transform-origin: center;
      transform-origin: center;
    }
  }
/*css  texte sous menu2  */       
.descriptif-plat-menu2-debut
{
 color: #C67412 ;
font-size:10px;
font-family:sans-serif; 
line-height: 20px;
}
.descriptif-plat-menu2-milieu
{
color: #A56799;
font-size:10px;
font-family:sans-serif;
line-height:20px;
}
.descriptif-plat-menu2-fin
{
	margin-right: 100px;
color:#6E4CCC;
font-size:10px;
font-family:sans-serif; 
line-height:20px;
}
/*  *//*  */ /*  */
.child.part2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 460px;
  height: 600px;
  background-color: #fff5fe
}
	/* css menu2 */
/* css: couleur  intitule entrée,plat,dessert sous_menu2 */
.cible-couleur-text1	
  {
   color:#C67412 ;
			font-family: "Bahnschrift SemiBold"; 
 }
	.cible-couleur-text2	
  {
   color: #A56799;
 	font-family: "Bahnschrift SemiBold"; 
 }
.cible-couleur-text3
  {
 color: #6E4CCC;
 	font-family: "Bahnschrift SemiBold"; 
 }
 /* css titre partie centrale   menu1 */
.title-m1{
 font-size: 22px;
 font-family: "Segoe Print", fantasy;
 color:black 
}
 /* css titre partie centrale menu2 */  
.title-m2
 {
 	font-size: 22px;
 font-family: sans-serif;
 color:#C67412; 
}
 /* css titre partie centrale menu3 */  
.title-m3
 {
 	font-weight:bold;
 font-size: 22px;
 font-family:"Segoe Print";
	color: #9BE16C;
}
	 /* css titre partie centrale menu3 */  
.title-m4
 {
 font-family: "Segoe Print";
 font-size: 22px;
font-family: "Segoe Print", fantasy;
 color:#0887FB;
}
/*  *//*  *//*  *//*  */
/* positionnement des prix  sous menu2 */
.prix-entrée1{margin-left: 100px;}
.prix-entrée2{margin-left: 175px;}
.prix-entrée3{margin-left: 182px;}
.prix-plat1{margin-left: 25px;}
.prix-plat2{margin-left: 65px;}
.prix-plat3{margin-left: 35px;}
/*css sous menu3  */
.child.part3
 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 460px;
    height: 600px;
   background-color: #fdfffd; 
  }
/* css sousm-meu3 */
.descriptif-plat-menu3-debut
{
font-size:10px;
font-family:sans-serif; 
line-height: 20px;
}
.descriptif-plat-menu3-milieu
{
font-size:10px;
font-family:sans-serif;
line-height:20px;
}
.descriptif-plat-menu3-fin
{
  font-size:10px;
  font-family:sans-serif; 
  line-height:20px;
  }
  .price22{margin-left: 155px;}
  .price23{margin-left: 120px;}
  .price24{margin-left: 85px;}
  .price25{margin-left: 100px;}
  .price26{margin-left: 30px;}
  .price27{margin-left: 215px;}
  .price28{margin-left: 260px;}
  .price29{margin-left: 35px;}
  .price30{margin-left: 80px;}
 /*css du sousmenu4 */
 .child.part4
 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 460px;
    height: 600px;
    background-color: #edefef; 
  }
	/* css sous-menu4 */
.descriptif-plat-menu4-debut
{
font-size:10px;
font-family:sans-serif; 
line-height: 20px;
}
.descriptif-plat-menu4-milieu
{
font-size:10px;
font-family:sans-serif;
line-height:20px;
}
.descriptif-plat-menu4-fin
{
  font-size:10px;
  font-family:sans-serif;                                                                            
  line-height:20px;
  }
  .price13{margin-left: 145px;}   
  .price14{margin-left: 13px;}
  .price15{margin-left: 180px;}
  .price16{margin-left: 50px;}
  .price17{margin-left: 140px;}
  .price18{margin-left: 105px;}
  .price19{margin-left: 165px;}
  .price20{margin-left: 200px;}
  .price21{margin-left: 210px;}
/* css sous-menu2 ajustement des lignes */		
.image1
 {
 	width:128px;
		 height:28px;
margin-bottom: 3px;
margin-top: -28px;
}
.image2
 {
 width:125px;
	height: 28px;
margin-top: -12px;
}
.image3
 {
 	width:128px;
		 height:25px;
margin-bottom: 3px;
margin-top: -28px;
}
.image4
 {
 width:125px;
	height: 25px;
margin-top: -12px;
}
.image5
 {
 	width:125px;
		 height:30px;
margin-bottom: 3px;
margin-top: -28px;
}
.image6
 {
 width:125px;
	height: 30px;
margin-top: -12px;
}










/*css sous menu 3 ajustement des lignes   */
.ligneverte1
 {
 	margin-top: -23px;
		margin-right: 50px;
		width: 130px;
		height: 30px;
}
.ligneverte2
 {
 	margin-left: 50px;
 	margin-top: -15px;
		width: 130px;
		height: 30px;
}	
	.ligneverte3
 {
 	margin-top: -23px;
		margin-right: 50px;
		width: 130px;
		height: 20px;
}
.ligneverte4
 {
 	margin-left: 50px;
 	margin-top: -15px;
		width: 130px;
		height: 30px;
		}	
	.ligneverte5
 {
 	margin-top: -23px;
		margin-right: 50px;
		width: 130px;
		height: 30px;
}
.ligneverte6
 {
 	margin-left: 50px;
 	margin-top: -15px;
		width: 130px;
		height: 30px;
	}	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
}
	/* css sous menu4 ajustement des lignes */	
.trait-bleu1
{
margin-bottom: 15px;
width:130px;
height: 30px;  
}	
.trait-bleu2
{
margin-left: 15px;
margin-top: -15px;
width:130px;
height:30px;  
}

.trait-bleu3
{
margin-top: -10px;
width:130px;
height:26px;  
}	
.trait-bleu4
{
margin-top: -15px;
width:130px;
height:36px;  
}
.trait-bleu5
{
margin-top: -10px;
width:130px;
height: 26px; 
}	
.trait-bleu6
{
margin-top: -15px;
width:130px;
height:36px;  
}
















/* css menu index5 (menu principal) */
/*animation point de suspenson */

.item0bis
 {
text-align: center;
color:#FFCC00;
margin-top: 2px;
font-size: 20px;
}

.item0bis:after {
  display: inline-block;
  animation: dotty steps(1,end) 2s infinite;
  content: '';

}

@keyframes dotty {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}

.item-mp
 {
padding-top: 10px;
text-align: center;
color:#FFCC00;
}

.item1
 {
background-color:#579C87;
width:460px;
height: 70px;
margin: auto ;
margin-bottom:20px;
 }

.box1
 {

display: flex;
justify-content:space-around;
align-content:space-between ;
flex-wrap: wrap;
flex-direction:column;
height: 600px;
width: 450px;
margin: auto;
 }

		.item2
		{
		display        : flex;
		flex-direction : column;
		align-items    : center;
		justify-content: center;
		box-shadow     :1px 1px 3px 4px #BFBFBF;
		width          :200;
		height         : 250px;
		text-decoration: none;
		font-weight:bold;
		background-color:#FCDFDB;
		 
		}

.item3
  {
		display         : flex;
		flex-direction  : column;
		align-items     : center;
		justify-content : center;
		background-color:#E8E8E8;
		box-shadow      :1px 1px 3px 4px #BFBFBF;
		width           :200px;
		height          : 250px;

}

 .item4
			{
			display         : flex;
			flex-direction  : column;
			align-items     : center;
			justify-content : center;
			background-color:#F6DAED;
			width           :200px;
			height          : 250px;
			box-shadow      :1px 1px 3px 4px #BFBFBF;
			
			}

.item5
 {
			display         : flex;
			flex-direction  : column;
			align-items     : center;
			justify-content : center;
			background-color:#FFFFFF;
			width           :200px;
			height          : 250px;
			box-shadow      :1px 1px 3px 4px #BFBFBF;
				
}
	.box2
	{

	display       : flex;
	flex-direction: column;
	height        : 40px;
	width         : 250
	margin-top    : 15px;
	align-items   :center;
	}

.item6
  {
background-color:#289F77;
height:30px;
width:200px;
border-radius: 6px 6px 6px 6px;
}

.item7
  {
background-color:#579C87;
height:35px;
width:460px;
margin-top: 20px;
}
/* mise en page item2 */

.intro1

 {

}

.effet_zoom1
 {
 color: #000000;
 font-size:14px;
 font-family:"Segoe Print" ; 

}

a
 {
 text-decoration: none;
}

.effet_zoom2
 {
 font-size:14px;
 color:#0887FB ;
	font-family: "Segoe Print" ;
}

.effet_zoom3
 {
 color: #C77412;
 font-size:14px;
}

.effet_zoom4
 {
 	
 font-size:14px;
		font-family: "Segoe Print";
		color: #72BF56;
}

/* effet graphique menu index-5.html */
.item,.effet_zoom1
 {
transition: ease-in-out 1s;	
}

.item:hover .effet_zoom1
 {
transform: scale(1.6);
opacity: 0.7;
}
.item,.effet_zoom2
 {
transition: ease-in-out 1s;	
}

.item:hover .effet_zoom2
 {
transform: scale(1.4);
opacity: 0.7;
}
.item,.effet_zoom3
 {
transition: ease-in-out 1s;	
}

.item:hover .effet_zoom3
 {
transform: scale(1.6);
opacity: 0.7;
}
.item,.effet_zoom4
 {
transition: ease-in-out 1s;	
}

.item:hover .effet_zoom4
 {
transform: scale(1.6);
opacity: 0.7;
}
/* media queries */
@media  screen and (max-device-width: 540px){	
/* sou smenu1 */



.info.contact1
 {
font-size: 12px;
}

.info.contact2
 {
font-size: 12px;
}
/* css sous menu5 */

.box2
  {
 
width: 100%;

}

.menu5
 { 	

width: 100%;
}

.item2,
.item3,
.item4,
.item5
 { 
width: 100%;
}
.box1
 {
 height: 100%;
width: 100%;
display: block;
}
/*  *//*  *//*  */
.info.contact1
 {

}
.info.contact2
 {

}

.child.menu1
 {
width: 100%;
}
.child.menu4
 {
flex-wrap: nowrap;
width: 100%;
}

.child.menu5
 {
flex-wrap: nowrap;
width: 100%;
}

.child.part1,.child.part2,.child.part3,.child.part4
 {
width: 100%;
}
/* media query sousmenu2 alignement  */
.image1
 {
margin-right:35px;
}
.image2
 {
margin-left:35px;
}
.image3
 {
margin-right:35px;
}
.image4
 {
margin-left:35px;
}
.image5
 {
margin-right:35px;
}
.image6
 {
margin-left:35px;
}









/* media query sousmenu2 */
.ligneverte1
 {

}

/* media query sousmenu2 */
.trait-bleu
{
margin-right:100px;	
}

/* media query menu 1 a 4 */



}
@media  screen and (max-device-width: 360px){

	






/* css menu3 alignement de prix */
.price22
 {
margin-left: 105px;
}
.price23
 {
margin-left: 75px;
}
.price24
 {
margin-left: 45px;
}
.price25
 {
margin-left: 55px;
}
.price26
 {
margin-left: 0px;
}
.price27
 {
margin-left: 155px;
}
.price28
 {
margin-left: 190px;
}
.price29
 {
margin-left:0px;
}
.price30
 {
margin-left: 39px;
}




/* css menu1 */

.trait-gauche
 {

width: 80px;
}
.trait-droite
 {

width: 80px;
}

}























	







.prix-plat1
 {
margin-left: 15px;
}	

.prix-plat2
 {
margin-left: 55px;
}	

.prix-plat3
 {
margin-left: 20px;
}	

@media  screen and (max-device-width: 320px){
	/* ccs menu3 */
.ligneverte1
 {
margin-right:0px;
margin-top: -15px;
width: 80px;
}	
.ligneverte2
 {
margin-left:0px;
margin-top: -15px;
width: 80px;
}

.ligneverte3
 {
margin-right:0px;
margin-top: -15px;
width: 80px;
}	
.ligneverte4
 {
margin-left:0px;
margin-top: -15px;
width: 80px;
}
.ligneverte5
 {
margin-right:0px;
margin-top: -15px;
width: 80px;
}	
.ligneverte6
 {
margin-left:0px;
margin-top: -15px;
width: 80px;
}

















/*css menu1 */
.descriptif-plat
 {
width: 100%;
font-size: 7px;
}
.paragraphe.section
 {
flex-wrap: nowrap;
}



.image1
 {

}
.image2
 {

}








.price
 {
margin-left: 
}
.price1
 {
margin-left: 
}.price2
 {
margin-left: 
}.price3
 {
margin-left: 
}.price4
 {
margin-left: 
}.price5
 {
margin-left: 
}.price6
 {
margin-left: 
}
}

















@media  screen and (max-device-width: 280px){
.prix-plat1
 {
margin-left: 0px;
}	

.prix-plat2
 {
margin-left: 0px;
}	

.prix-plat3
 {
margin-left: 0px;
}		
.prix-entrée1
 {
margin-left: 35px;
}
.prix-entrée2
 {
margin-left: 110px;
}
.prix-entrée3
 {
margin-left: 120px;
}


.trait-gauche
 {
margin-right: 10px;
width: 80px;
}
.trait-droite
 {

width: 80px;
}



.titre-menu,.child.menu2
 {
width: 100%;
}

}

